{{/* Hidden pages (hidden = true) stay out of the chapter's next link, matching
     their absence from the menu. */}}
{{ $children := where .Pages.ByWeight "Params.hidden" "ne" true }}
<article class="chapter narrow">
  <header class="headline">
    {{- partial "content-header.html" . }}
  </header>

{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}
{{ partial "article-content.html" . }}
  {{ with index $children 0 }}
  <div class="next"><a href="{{ .RelPermalink }}">{{ .LinkTitle }} <i class="fa fa-circle-right"></i></a></div>
  {{ end }}

  <footer class="footline">
    {{- partial "content-footer.html" . }}
  </footer>
</article>