{{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}
<article class="chapter narrow">
  <header class="headline">
    {{- partial "content-header.html" . }}
  </header>

{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}
{{ partial "article-content.html" . }}
  <div class="next"><a href="{{ (index .Pages 0).RelPermalink }}">{{ (index .Pages 0).LinkTitle }} <i class="fa fa-circle-right"></i></a></div>

  <footer class="footline">
    {{- partial "content-footer.html" . }}
  </footer>
</article>