{{- $attributes := dict "class" "nolightbox" }}
{{- $title := "" }}
{{- if isset site.Params "linktitle" }}
  {{- $title = site.Params.linkTitle | default " " }}
{{- end }}
{{- if not (len $title) }}
  {{- $title = site.Title }}
{{- end }}
{{- $title = trim $title "\n\r\t " }}

{{- $manualWrap := strings.Contains $title "\n" }}

{{- $direction := site.Params.logo.direction | default "row" }}

{{- /* Build map of variant logos */}}
{{- $logoMap := dict }}
{{- $themevariants := partialCached "_relearn/themeVariants.gotmpl" site.Home }}
{{- range $themevariants }}
  {{- if and (isset . "logo") (not (isset . "auto")) }}
    {{- $logoMap = merge $logoMap (dict .identifier (dict "src" .logo.src "variant" .identifier)) }}
  {{- end }}
{{- end }}

{{- /* Group logos by source */}}
{{- $logoGroups := dict }}
{{- range $variantId, $logoInfo := $logoMap }}
  {{- $src := $logoInfo.src }}
  {{- if $src }}
    {{- $existingVariants := slice }}
    {{- if isset $logoGroups $src }}
      {{- $existingVariants = index $logoGroups $src }}
    {{- end }}
    {{- $existingVariants = $existingVariants | append $variantId }}
    {{- $logoGroups = merge $logoGroups (dict $src $existingVariants) }}
  {{- end }}
{{- end }}

{{- /* Render logo container with all variants */}}
{{- /* Branded sections supply their own logo; everything else gets MGO's. The
       `brand` param arrives via the cache key set in partials/logo.html. */ -}}
{{- if or $logoGroups $title }}
        <a href="{{ partial "permalink.gotmpl" (dict "to" site.Home) }}">
          {{- if eq (.Params.brand | default "") "fus" }}
          <img class="brand-logo brand-logo-fus" src="{{ "images/fus-splash.webp" | relURL }}" alt="FUS, a modlist for Skyrim VR by Kvitekvist and Cangar">
          {{- else }}
          <img src="{{ "images/tes5-mgo-300.webp" | relURL }}" srcset="{{ "images/tes5-mgo-300@2x.webp" | relURL }} 2x" alt="Mad God's Overhaul for Skyrim VR">
          {{- end }}
        </a>
{{- end }}