{{- $attributes := dict "class" "nolightbox" }}
{{- $title := "" }}
{{- if isset site.Params "linktitle" }}
  {{- $title = site.Params.linkTitle | default " " }}
{{- end }}
{{- if not (len $title) }}
  {{- $title = site.Title }}
{{- end }}
{{- $title = trim $title "\n\r\t " }}

{{- $manualWrap := strings.Contains $title "\n" }}

{{- $direction := site.Params.logo.direction | default "row" }}

{{- /* Build map of variant logos */}}
{{- $logoMap := dict }}
{{- $themevariants := partialCached "_relearn/themeVariants.gotmpl" site.Home }}
{{- range $themevariants }}
  {{- if and (isset . "logo") (not (isset . "auto")) }}
    {{- $logoMap = merge $logoMap (dict .identifier (dict "src" .logo.src "variant" .identifier)) }}
  {{- end }}
{{- end }}

{{- /* Group logos by source */}}
{{- $logoGroups := dict }}
{{- range $variantId, $logoInfo := $logoMap }}
  {{- $src := $logoInfo.src }}
  {{- if $src }}
    {{- $existingVariants := slice }}
    {{- if isset $logoGroups $src }}
      {{- $existingVariants = index $logoGroups $src }}
    {{- end }}
    {{- $existingVariants = $existingVariants | append $variantId }}
    {{- $logoGroups = merge $logoGroups (dict $src $existingVariants) }}
  {{- end }}
{{- end }}

{{- /* The sidebar logo, supplied by the site rather than hardcoded here:

         [params.synergy]
           logo = 'my-logo.webp'
           logo2x = 'my-logo@2x.webp'          # optional
           logoAlt = 'My List for Skyrim VR'   # optional, defaults to the site title

       A branded section can override it (the `brand` param arrives via the cache
       key set in partials/logo.html):

         [params.synergy.brandLogos.fus]
           src = 'fus-splash.webp'
           alt = 'FUS, a modlist for Skyrim VR by Kvitekvist and Cangar'

       With no logo configured at all, the site title is rendered as text, so a
       new site looks deliberate rather than broken. */ -}}
{{- $sy := site.Params.synergy | default dict -}}
{{- $brand := .Params.brand | default "" -}}
{{- $src := "" -}}{{- $srcset := "" -}}{{- $cls := "" -}}
{{- $alt := $sy.logoAlt | default site.Title -}}
{{- with index ($sy.brandLogos | default dict) $brand -}}
  {{- $src = .src -}}
  {{- $alt = .alt | default $alt -}}
  {{- $cls = printf "brand-logo brand-logo-%s" $brand -}}
{{- else -}}
  {{- $src = $sy.logo | default "" -}}
  {{- $srcset = $sy.logo2x | default "" -}}
{{- end -}}
{{- if or $logoGroups $title }}
        <a href="{{ partial "permalink.gotmpl" (dict "to" site.Home) }}">
          {{- if $src }}
          <img{{ with $cls }} class="{{ . }}"{{ end }} src="{{ printf "images/%s" $src | relURL }}"{{ with $srcset }} srcset="{{ printf "images/%s" . | relURL }} 2x"{{ end }} alt="{{ $alt }}">
          {{- else }}
          <span class="logo-title">{{ $alt }}</span>
          {{- end }}
        </a>
{{- end }}