// Shortcode link badges: Nexus, GitHub, Steam

#R-body .svg {
  &.nexus,
  &.github,
  &.steam {
    display: inline-block;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 10px;
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
    }
  }
  &.nexus {
    background-color: #f7e4d433;
    a {
      color: var(--mgo-gold);
    }
  }
  &.github {
    background-color: #66666633;
  }
  &.steam {
    background: #184150;
    background: radial-gradient(circle,rgba(24, 65, 80, 1) 0%, rgba(26, 51, 68, 1) 100%);
    text-shadow: none;
    a {
      color: #c5c3c1;
    }
  }
}
